DB_HOST=3.221.155.181
DB_PORT=3306
DB_USER=root
DB_PASSWORD=admin@1234
DB_NAME=hr_management
JWT_SECRET=mGngs7c6tEvKVSHzSHflLIZVu+q6Zv4NuKbg8du/yZ4=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development
